<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= render 'shared/msg' %>
      <h1>Users Profile</h1>
      <h2><%= @user.name %></h2>
      <p>this is a nice profile</p>
    </div>
  </div>
</div>