<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Event description</h1>
      <p>
        <b>Creator:</b><%= @event.creator.name %>
      </p>
    </div>
  </div>
</div>
