<nav class="navbar navbar-expand-lg navbar-dark bg-light mb-5 bg-dark">
  <a class="navbar-brand" href="/">Private Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to 'Sign Out', logout_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to  "Log In", login_path, class: "nav-link" %>
      </li>
        <li class="nav-item">
          <%= link_to  "Sign Up", new_user_path , class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>